.elementor-383 .elementor-element.elementor-element-3e023013 {
  --display: flex;
  --min-height: 100px;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
  --margin-top: 1px;
  --margin-bottom: 0px;
  --margin-left: 1px;
  --margin-right: 1px;
  --padding-top: 03px;
  --padding-bottom: 0px;
  --padding-left: 3px;
  --padding-right: 3px;
  --z-index: 1000;
}
.elementor-383
  .elementor-element.elementor-element-3e023013:not(.elementor-motion-effects-element-type-background),
.elementor-383
  .elementor-element.elementor-element-3e023013
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-f19b53d);
}
.elementor-383 .elementor-element.elementor-element-3e023013,
.elementor-383 .elementor-element.elementor-element-3e023013::before {
  --border-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-2a063c0a {
  --display: flex;
  --min-height: 80px;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-evenly;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 0px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
  --border-radius: 0px 0px 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-383 .elementor-element.elementor-element-2a063c0a,
.elementor-383 .elementor-element.elementor-element-2a063c0a::before {
  --border-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-66ac87f3 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: flex-start;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-383 .elementor-element.elementor-element-66ac87f3.e-con {
  --align-self: center;
}
.elementor-383
  .elementor-element.elementor-element-41e05c2
  > .elementor-widget-container {
  padding: 0px 30px 0px 30px;
}
.elementor-383 .elementor-element.elementor-element-41e05c2 {
  width: var(--container-widget-width, 224px);
  max-width: 224px;
  --container-widget-width: 224px;
  --container-widget-flex-grow: 0;
}
.elementor-383
  .elementor-element.elementor-element-71f1e9d
  .elementor-heading-title {
  color: #000000;
  font-family: "Readex Pro", Sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.elementor-383
  .elementor-element.elementor-element-71f1e9d
  > .elementor-widget-container {
  padding: 2px 0px 0px 44px;
}
.elementor-383 .elementor-element.elementor-element-75e970c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --background-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-8726e1f {
  width: var(--container-widget-width, 30px);
  max-width: 30px;
  --container-widget-width: 30px;
  --container-widget-flex-grow: 0;
}
.elementor-383 .elementor-element.elementor-element-8726e1f.elementor-element {
  --align-self: flex-end;
}
.elementor-383 .elementor-element.elementor-element-67b59b2 {
  width: var(--container-widget-width, 30px);
  max-width: 30px;
  --container-widget-width: 30px;
  --container-widget-flex-grow: 0;
}
.elementor-383 .elementor-element.elementor-element-67b59b2.elementor-element {
  --align-self: flex-end;
}
.elementor-383 .elementor-element.elementor-element-42821665 {
  --display: flex;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-63ce6ea {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-38fa9852 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-718f404 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --background-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-187463f {
  width: var(--container-widget-width, 30px);
  max-width: 30px;
  --container-widget-width: 30px;
  --container-widget-flex-grow: 0;
}
.elementor-383 .elementor-element.elementor-element-187463f.elementor-element {
  --align-self: flex-end;
}
.elementor-383 .elementor-element.elementor-element-ace6689 {
  width: var(--container-widget-width, 30px);
  max-width: 30px;
  --container-widget-width: 30px;
  --container-widget-flex-grow: 0;
}
.elementor-383 .elementor-element.elementor-element-ace6689.elementor-element {
  --align-self: flex-end;
}
.elementor-383 .elementor-element.elementor-element-05135b4 {
  --display: flex;
  --min-height: 40px;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
  --margin-top: 1px;
  --margin-bottom: 0px;
  --margin-left: 1px;
  --margin-right: 1px;
  --padding-top: 03px;
  --padding-bottom: 0px;
  --padding-left: 3px;
  --padding-right: 3px;
  --z-index: 1000;
}
.elementor-383
  .elementor-element.elementor-element-05135b4:not(.elementor-motion-effects-element-type-background),
.elementor-383
  .elementor-element.elementor-element-05135b4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #b3b3b3;
}
.elementor-383 .elementor-element.elementor-element-05135b4,
.elementor-383 .elementor-element.elementor-element-05135b4::before {
  --border-transition: 0.3s;
}
.elementor-383 .elementor-element.elementor-element-bd8a0b0 {
  text-align: center;
}
.elementor-383
  .elementor-element.elementor-element-bd8a0b0
  .elementor-heading-title {
  color: #000000;
  font-family: "Readex Pro", Sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.elementor-383
  .elementor-element.elementor-element-bd8a0b0
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-383 .elementor-element.elementor-element-c9eba3b {
  text-align: center;
}
.elementor-383
  .elementor-element.elementor-element-c9eba3b
  .elementor-heading-title {
  color: #000000;
  font-family: "Readex Pro", Sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.elementor-383
  .elementor-element.elementor-element-c9eba3b
  > .elementor-widget-container {
  padding: 2px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-383 .elementor-element.elementor-element-2a063c0a {
    --width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-383 .elementor-element.elementor-element-3e023013 {
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-383 .elementor-element.elementor-element-3e023013.e-con {
    --align-self: center;
  }
  .elementor-383 .elementor-element.elementor-element-2a063c0a {
    --flex-direction: column;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: center;
  }
  .elementor-383 .elementor-element.elementor-element-2a063c0a.e-con {
    --align-self: center;
  }
  .elementor-383 .elementor-element.elementor-element-66ac87f3 {
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-383
    .elementor-element.elementor-element-41e05c2
    > .elementor-widget-container {
    padding: 20px 0px 0px 0px;
  }
  .elementor-383 .elementor-element.elementor-element-41e05c2 {
    width: var(--container-widget-width, 145px);
    max-width: 145px;
    --container-widget-width: 145px;
    --container-widget-flex-grow: 0;
  }
  .elementor-383
    .elementor-element.elementor-element-71f1e9d
    .elementor-heading-title {
    font-size: 12px;
  }
  .elementor-383
    .elementor-element.elementor-element-71f1e9d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 0px 0px;
  }
  .elementor-383 .elementor-element.elementor-element-75e970c {
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 10px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-383 .elementor-element.elementor-element-75e970c.e-con {
    --align-self: center;
  }
  .elementor-383
    .elementor-element.elementor-element-bd8a0b0
    .elementor-heading-title {
    font-size: 13px;
  }
  .elementor-383
    .elementor-element.elementor-element-c9eba3b
    .elementor-heading-title {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .elementor-383 .elementor-element.elementor-element-3e023013 {
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-383 .elementor-element.elementor-element-2a063c0a {
    --flex-direction: column;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: center;
  }
  .elementor-383
    .elementor-element.elementor-element-41e05c2
    > .elementor-widget-container {
    padding: 20px 20px 5px 20px;
  }
  .elementor-383 .elementor-element.elementor-element-41e05c2 {
    width: var(--container-widget-width, 155px);
    max-width: 155px;
    --container-widget-width: 155px;
    --container-widget-flex-grow: 0;
  }
  .elementor-383
    .elementor-element.elementor-element-41e05c2.elementor-element {
    --align-self: center;
  }
  .elementor-383
    .elementor-element.elementor-element-71f1e9d
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-383
    .elementor-element.elementor-element-71f1e9d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-383
    .elementor-element.elementor-element-71f1e9d.elementor-element {
    --align-self: center;
  }
  .elementor-383 .elementor-element.elementor-element-05135b4 {
    --justify-content: center;
  }
  .elementor-383 .elementor-element.elementor-element-05135b4.e-con {
    --align-self: center;
  }
  .elementor-383
    .elementor-element.elementor-element-bd8a0b0
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-383
    .elementor-element.elementor-element-bd8a0b0.elementor-element {
    --align-self: center;
  }
  .elementor-383
    .elementor-element.elementor-element-c9eba3b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-383
    .elementor-element.elementor-element-c9eba3b.elementor-element {
    --align-self: center;
  }
}
