.elementor-203 .elementor-element.elementor-element-b5785dc {
  --display: flex;
  --min-height: 100px;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0 0 1px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #000;
  --border-color: #000000;
  --margin-top: 1px;
  --margin-bottom: 0px;
  --margin-left: 1px;
  --margin-right: 1px;
  --padding-top: 03px;
  --padding-bottom: 0px;
  --padding-left: 3px;
  --padding-right: 3px;
  --z-index: 1000;
}
.elementor-203
  .elementor-element.elementor-element-b5785dc:not(.elementor-motion-effects-element-type-background),
.elementor-203
  .elementor-element.elementor-element-b5785dc
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-f19b53d);
}
.elementor-203 .elementor-element.elementor-element-b5785dc,
.elementor-203 .elementor-element.elementor-element-b5785dc::before {
  --border-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-0a072dc {
  --display: flex;
  --min-height: 24px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-start;
  --background-transition: 0.3s;
  --border-radius: 1px 1px 1px 1px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.73) inset;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-203
  .elementor-element.elementor-element-0a072dc:not(.elementor-motion-effects-element-type-background),
.elementor-203
  .elementor-element.elementor-element-0a072dc
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-4283a18);
}
.elementor-203 .elementor-element.elementor-element-0a072dc,
.elementor-203 .elementor-element.elementor-element-0a072dc::before {
  --border-transition: 0.3s;
}
.elementor-203
  .elementor-element.elementor-element-a38cdcb
  > .elementor-widget-container {
  margin: 0;
  padding: 0 2px 1px 0;
}
.elementor-203 .elementor-element.elementor-element-a38cdcb {
  width: var(--container-widget-width, 21px);
  max-width: 21px;
  --container-widget-width: 21px;
  --container-widget-flex-grow: 0;
}
.elementor-203 .elementor-element.elementor-element-a38cdcb.elementor-element {
  --align-self: flex-end;
}
.elementor-203 .elementor-element.elementor-element-55cd48c {
  --display: flex;
  --min-height: 80px;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-evenly;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #000;
  --border-color: #000000;
  --border-radius: 0px 0px 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-203 .elementor-element.elementor-element-55cd48c,
.elementor-203 .elementor-element.elementor-element-55cd48c::before {
  --border-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-7c2dc43 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: flex-start;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-203 .elementor-element.elementor-element-7c2dc43.e-con {
  --align-self: center;
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 .ue-menu {
  gap: 0;
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 a {
  background-color: var(--e-global-color-f19b53d);
  color: #000;
  border-color: #000;
  box-shadow: 0 0 0 0 #000 inset;
  border-style: solid;
  border-width: 1px 1px 0 2px;
  border-radius: 0 0 0 0;
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 .ue-menu a {
  padding: 10px 250px 20px 30px;
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 .ue-menu > li a,
.ue-menu > li > .sub-menu > li a,
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a,
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a {
  font-family: sarala, Sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 .ue-menu > li a {
  justify-content: start;
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 .ue-nav-menu-icon {
  font-size: 30px;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-icon
  svg {
  width: 30px;
  height: 30px;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-menu
  > li
  > .sub-menu
  > li
  a {
  padding: 0;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a {
  padding: 0;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a {
  padding: 0;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .current-menu-item
  a {
  background-color: var(--e-global-color-f19b53d);
  color: var(--e-global-color-4283a18);
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 .sub-menu {
  width: 1000px;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-menu
  > li
  > .sub-menu
  > li
  .sub-menu {
  width: 1000px;
  inset-inline-start: 1000px;
}
.elementor-203 .elementor-element.elementor-element-3d2a2e0 .ue-menu > li > ul {
  top: 0;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile {
  background-color: #e8e8e800;
  width: 0;
  height: 0;
  font-size: 100px;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile.uc-active {
  background-color: #e8e8e800;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile-icon-open {
  color: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile-icon-open
  svg {
  fill: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile-icon-close {
  color: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile-icon-close
  svg {
  fill: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile
  svg {
  width: 100px;
  height: 100px;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  .ue-nav-menu-mobile-wrapper {
  justify-content: start;
}
.elementor-203
  .elementor-element.elementor-element-3d2a2e0
  > .elementor-widget-container {
  margin: 0;
  padding: 0 0 0 70px;
}
.elementor-203 .elementor-element.elementor-element-5561f58 {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-b41734d {
  width: var(--container-widget-width, 200px);
  max-width: 200px;
  --container-widget-width: 200px;
  --container-widget-flex-grow: 0;
}
.elementor-203 .elementor-element.elementor-element-f165999 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-ef9b59c {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-1253731 {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-095215c {
  width: var(--container-widget-width, 35px);
  max-width: 35px;
  --container-widget-width: 35px;
  --container-widget-flex-grow: 0;
}
.elementor-203 .elementor-element.elementor-element-10e8e6f {
  text-align: center;
}
.elementor-203
  .elementor-element.elementor-element-10e8e6f
  .elementor-heading-title {
  color: #000;
  font-family: readex pro, Sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.elementor-203 .elementor-element.elementor-element-7fb0818 {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-2469312 {
  width: var(--container-widget-width, 30px);
  max-width: 30px;
  --container-widget-width: 30px;
  --container-widget-flex-grow: 0;
}
.elementor-203 .elementor-element.elementor-element-2469312.elementor-element {
  --align-self: center;
}
.elementor-203 .elementor-element.elementor-element-b2df85d {
  text-align: center;
}
.elementor-203
  .elementor-element.elementor-element-b2df85d
  .elementor-heading-title {
  color: #000;
  font-family: readex pro, Sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.elementor-203 .elementor-element.elementor-element-56e56ec {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-a0d648e {
  width: var(--container-widget-width, 38px);
  max-width: 38px;
  --container-widget-width: 38px;
  --container-widget-flex-grow: 0;
}
.elementor-203 .elementor-element.elementor-element-a0d648e.elementor-element {
  --align-self: center;
}
.elementor-203 .elementor-element.elementor-element-ccad6e7 {
  text-align: center;
}
.elementor-203
  .elementor-element.elementor-element-ccad6e7
  .elementor-heading-title {
  color: #000;
  font-family: readex pro, Sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.elementor-203 .elementor-element.elementor-element-44dbaac {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-a590bdd {
  --display: flex;
  --min-height: 100px;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0 0 1px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #000;
  --border-color: #000000;
  --margin-top: 1px;
  --margin-bottom: 0px;
  --margin-left: 1px;
  --margin-right: 1px;
  --padding-top: 03px;
  --padding-bottom: 0px;
  --padding-left: 3px;
  --padding-right: 3px;
  --z-index: 1000;
}
.elementor-203
  .elementor-element.elementor-element-a590bdd:not(.elementor-motion-effects-element-type-background),
.elementor-203
  .elementor-element.elementor-element-a590bdd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-f19b53d);
}
.elementor-203 .elementor-element.elementor-element-a590bdd,
.elementor-203 .elementor-element.elementor-element-a590bdd::before {
  --border-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-1e1771e {
  --display: flex;
  --min-height: 24px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-start;
  --background-transition: 0.3s;
  --border-radius: 1px 1px 1px 1px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.73) inset;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-203
  .elementor-element.elementor-element-1e1771e:not(.elementor-motion-effects-element-type-background),
.elementor-203
  .elementor-element.elementor-element-1e1771e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-4283a18);
}
.elementor-203 .elementor-element.elementor-element-1e1771e,
.elementor-203 .elementor-element.elementor-element-1e1771e::before {
  --border-transition: 0.3s;
}
.elementor-203
  .elementor-element.elementor-element-4d0e27e
  > .elementor-widget-container {
  margin: 0;
  padding: 0 2px 1px 0;
}
.elementor-203 .elementor-element.elementor-element-4d0e27e {
  width: var(--container-widget-width, 21px);
  max-width: 21px;
  --container-widget-width: 21px;
  --container-widget-flex-grow: 0;
}
.elementor-203 .elementor-element.elementor-element-4d0e27e.elementor-element {
  --align-self: flex-end;
}
.elementor-203 .elementor-element.elementor-element-5c80581 {
  --display: grid;
  --min-height: 80px;
  --e-con-grid-template-columns: repeat(3, 1fr);
  --e-con-grid-template-rows: repeat(2, 1fr);
  --grid-auto-flow: row;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #000;
  --border-color: #000000;
  --border-radius: 0px 0px 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-203 .elementor-element.elementor-element-5c80581,
.elementor-203 .elementor-element.elementor-element-5c80581::before {
  --border-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-badf221 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-203 .elementor-element.elementor-element-6712320 .ue-menu {
  gap: 0;
}
.elementor-203 .elementor-element.elementor-element-6712320 a {
  background-color: var(--e-global-color-f19b53d);
  color: #000;
  border-color: #000;
  box-shadow: 0 0 0 0 #000 inset;
  border-style: solid;
  border-width: 1px 1px 0 2px;
  border-radius: 0 0 0 0;
}
.elementor-203 .elementor-element.elementor-element-6712320 .ue-menu a {
  padding: 10px 250px 20px 30px;
}
.elementor-203 .elementor-element.elementor-element-6712320 .ue-menu > li a,
.ue-menu > li > .sub-menu > li a,
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a,
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a {
  font-family: sarala, Sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
}
.elementor-203 .elementor-element.elementor-element-6712320 .ue-menu > li a {
  justify-content: start;
}
.elementor-203 .elementor-element.elementor-element-6712320 .ue-nav-menu-icon {
  font-size: 30px;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-icon
  svg {
  width: 30px;
  height: 30px;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-menu
  > li
  > .sub-menu
  > li
  a {
  padding: 0;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a {
  padding: 0;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  > .sub-menu
  > li
  a {
  padding: 0;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .current-menu-item
  a {
  background-color: var(--e-global-color-f19b53d);
  color: var(--e-global-color-4283a18);
}
.elementor-203 .elementor-element.elementor-element-6712320 .sub-menu {
  width: 1000px;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-menu
  > li
  > .sub-menu
  > li
  .sub-menu {
  width: 1000px;
  inset-inline-start: 1000px;
}
.elementor-203 .elementor-element.elementor-element-6712320 .ue-menu > li > ul {
  top: 0;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile {
  background-color: #e8e8e800;
  width: 28px;
  height: 28px;
  font-size: 69px;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile.uc-active {
  background-color: #e8e8e800;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile-icon-open {
  color: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile-icon-open
  svg {
  fill: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile-icon-close {
  color: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile-icon-close
  svg {
  fill: #58585800;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile
  svg {
  width: 69px;
  height: 69px;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  .ue-nav-menu-mobile-wrapper {
  justify-content: start;
}
.elementor-203
  .elementor-element.elementor-element-6712320
  > .elementor-widget-container {
  margin: 0;
  padding: 0 0 0 70px;
}
.elementor-203 .elementor-element.elementor-element-53e9a6a {
  width: var(--container-widget-width, 38px);
  max-width: 38px;
  --container-widget-width: 38px;
  --container-widget-flex-grow: 0;
}
.elementor-203 .elementor-element.elementor-element-53e9a6a.elementor-element {
  --align-self: center;
}
@media (max-width: 1024px) {
  .elementor-203 .elementor-element.elementor-element-b5785dc {
    --min-height: 90px;
  }
  .elementor-203
    .elementor-element.elementor-element-3d2a2e0
    > .elementor-widget-container {
    padding: 0 0 0 70px;
  }
  .elementor-203 .elementor-element.elementor-element-3d2a2e0 {
    width: var(--container-widget-width, 100px);
    max-width: 100px;
    --container-widget-width: 100px;
    --container-widget-flex-grow: 0;
  }
  .elementor-203 .elementor-element.elementor-element-b41734d {
    --container-widget-width: 122px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 122px);
    max-width: 122px;
  }
  .elementor-203 .elementor-element.elementor-element-095215c {
    --container-widget-width: 30px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 30px);
    max-width: 30px;
  }
  .elementor-203 .elementor-element.elementor-element-7fb0818 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 20px 20px;
  }
  .elementor-203 .elementor-element.elementor-element-2469312 {
    --container-widget-width: 25px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 25px);
    max-width: 25px;
  }
  .elementor-203 .elementor-element.elementor-element-a0d648e {
    --container-widget-width: 33px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 33px);
    max-width: 33px;
  }
  .elementor-203 .elementor-element.elementor-element-a590bdd {
    --min-height: 90px;
  }
  .elementor-203 .elementor-element.elementor-element-5c80581 {
    --grid-auto-flow: row;
  }
  .elementor-203
    .elementor-element.elementor-element-6712320
    > .elementor-widget-container {
    padding: 0 0 0 70px;
  }
  .elementor-203 .elementor-element.elementor-element-6712320 {
    width: var(--container-widget-width, 100px);
    max-width: 100px;
    --container-widget-width: 100px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 767px) {
  .elementor-203 .elementor-element.elementor-element-a590bdd {
    --min-height: 80px;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-203 .elementor-element.elementor-element-5c80581 {
    --min-height: 50px;
    --e-con-grid-template-columns: repeat(3, 1fr);
    --e-con-grid-template-rows: repeat(0, 1fr);
    --gap: 20px 20px;
    --grid-auto-flow: row;
    --justify-items: center;
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-203 .elementor-element.elementor-element-badf221 {
    --content-width: 100%;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 70px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-203 .elementor-element.elementor-element-6712320 a {
    border-width: 0 0 1px;
  }
  .elementor-203 .elementor-element.elementor-element-6712320 .ue-menu a {
    padding: 10px 0 10px 18px;
  }
  .elementor-203 .elementor-element.elementor-element-6712320 .ue-menu > li a,
  .ue-menu > li > .sub-menu > li a,
  .elementor-203
    .elementor-element.elementor-element-6712320
    .ue-menu
    > li
    > .sub-menu
    > li
    > .sub-menu
    > li
    a,
  .elementor-203
    .elementor-element.elementor-element-6712320
    .ue-menu
    > li
    > .sub-menu
    > li
    > .sub-menu
    > li
    > .sub-menu
    > li
    a {
    font-size: 12px;
  }
  .elementor-203 .elementor-element.elementor-element-6712320 .ue-menu > li a {
    justify-content: start;
  }
  .elementor-203
    .elementor-element.elementor-element-6712320
    .ue-nav-menu-icon {
    font-size: 30px;
  }
  .elementor-203
    .elementor-element.elementor-element-6712320
    .ue-nav-menu-icon
    svg {
    width: 30px;
    height: 30px;
  }
  .elementor-203 .elementor-element.elementor-element-6712320 .sub-menu {
    width: 1000px;
  }
  .elementor-203
    .elementor-element.elementor-element-6712320
    .ue-menu
    > li
    > .sub-menu
    > li
    .sub-menu {
    width: 1000px;
    inset-inline-start: 1000px;
  }
  .elementor-203
    .elementor-element.elementor-element-6712320
    .ue-menu
    > li
    > ul {
    top: 100px;
  }
  .elementor-203
    .elementor-element.elementor-element-6712320
    > .elementor-widget-container {
    padding: 0;
  }
  .elementor-203 .elementor-element.elementor-element-6712320 {
    width: var(--container-widget-width, 736px);
    max-width: 736px;
    --container-widget-width: 736px;
    --container-widget-flex-grow: 0;
  }
  .elementor-203 .elementor-element.elementor-element-e854951 {
    text-align: center;
    width: var(--container-widget-width, 120px);
    max-width: 120px;
    --container-widget-width: 120px;
    --container-widget-flex-grow: 0;
  }
  .elementor-203
    .elementor-element.elementor-element-e854951
    > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-203
    .elementor-element.elementor-element-e854951.elementor-element {
    --align-self: center;
  }
  .elementor-203
    .elementor-element.elementor-element-53e9a6a
    > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-203 .elementor-element.elementor-element-53e9a6a {
    --container-widget-width: 30px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 30px);
    max-width: 30px;
  }
  .elementor-203
    .elementor-element.elementor-element-53e9a6a.elementor-element {
    --align-self: center;
    --flex-grow: 1;
    --flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .elementor-203 .elementor-element.elementor-element-0a072dc {
    --width: 100%;
  }
  .elementor-203 .elementor-element.elementor-element-55cd48c {
    --width: 100%;
  }
  .elementor-203 .elementor-element.elementor-element-1e1771e {
    --width: 100%;
  }
  .elementor-203 .elementor-element.elementor-element-5c80581 {
    --width: 100%;
  }
}
